<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สถานที่ท่องเที่ยวในภาคกลาง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">สถานที่ท่องเที่ยวในภาคกลาง</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center"><p>วัดพระปฐมเจดีย์ราชวรมหาวิหาร จังหวัดนครปฐม</p></div>
  <div class ="center">
    <img src="https://s359.kapook.com//pagebuilder/c258ffbb-c1e1-4830-998f-a2ef343cb480.jpg" >
  </div>
  <br>
  <div class="ion-text-center"><p>อุทยานประวัติศาสตร์พระนครศรีอยุธยา จังหวัดพระนครศรีอยุธยา</p></div>
  <div class ="center">
    <img src="https://s359.kapook.com//pagebuilder/e909c2ca-11d3-429e-8cf1-37b3c42c00df.jpg" >
  </div>
  <br>
  <div class="ion-text-center"><p>เมืองโบราณ จังหวัดสมุทรปราการ</p></div>
  <div class ="center">
    <img src="https://s359.kapook.com//pagebuilder/ec3f5d8b-c375-4fcf-bc09-2955352df5b7.jpg" >
  </div>
  <br>
  <div class="button-right">
    <ion-button color="primary" (click)="goToNort()">ถัดไป</ion-button>
  </div><br><br>
  <div class = "button-left">
    <ion-button color="tertiary" (click)="goHome()">หน้าหลัก</ion-button>
  </div>


</ion-content>
